@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Foodzfame";
    var category = (Foodzfame2.Models.Counters)ViewBag.Category;
}
<div class="row defaultHeader">
    <div class="overlay">
        <div class="container">
            <div class="recipeTitle">
                About Foodzfame
            </div>
        </div>
    </div>
</div>
<div class="marTop2pr"></div>
<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 box-shadow">
                We are a team of Husband(Prashant) and Wife(Nupoor) following our passion for food.
                We are posting our home made food's recipes with the details and are also available to help if needed for the recipe preparation.
            </div>
            <div class="col-sm-4 leftCategory">
                <span class="categoryTitle">Category</span>
                <br />
                <br />
                @foreach (var item in category.counts)
                {
                    <a asp-controller="Category" asp-action="Index" asp-route-Category="@item.CategoryId"><span class="category">@item.CategoryName</span></a>
                    <br />
                    <span class="categoryCount">@item.RecipeCount Recipes, @item.SubCatCount SubCategories </span>
                    <br />
                    <br />
                }
            </div>
        </div>
    </div>
</div>
<div class="marTop2pr"></div>
<partial name="_SubscribePartial" />

