@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Foodzfame";
    var category = (Foodzfame2.Models.Counters)ViewBag.Category;
}
<div class="row defaultHeader">
    <div class="overlay">
        <div class="container">
            <div class="recipeTitle">
                Foodzfame a food blog
            </div>
        </div>
    </div>
</div>
<div class="marTop2pr"></div>
<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 box-shadow">
                <p style=" padding: 5%;text-align:justify;">
                    <img src="~/img/about.jpeg" style=" width: 30%; float: left; padding-right: 5%;" />
                    <i><b>Hey Guys!</b></i> We're are a team of Husband(Prashant) and Wife(Nupoor) living in India following our passion for food. Food has always been the love of our life, and we keep experimenting in our kitchen, And we are bringing the best recipes from our kitchen for you. <br /><br />
                    <b>How's the blog started?</b> We are big-time foodies always trying to improvise our recipes. So we started our Instagram page by posting pictures of our homemade dishes. Appreciated by many and the recipes were requested by our friends, family, and our Ig followers. We then decided to open an online food blog posting recipes, ideas, tips, and tricks and willing to help in any manner we can.<br /><br />
                    <b>We've just started.</b> We are new to online blogging and keen to learn techniques and improve our blog, So if you are willing to help or give suggestions, you're most welcome. You can always reach to us by mail: <a target="_blank" style="color:inherit;font-weight:bold;" href="mailto:info@foodzfame.com">info@foodzfame.com</a> or ping us in Ig <a style="color:inherit;" href="https://www.instagram.com/foodzfame/" target="_blank"> <b>foodzfame</b>.</a>

                </p>
            </div>
            <div class="col-sm-4 leftCategory">
                <span class="categoryTitle">Category</span>
                <br />
                <br />
                @foreach (var item in category.counts)
                {
                    <a asp-controller="Category" asp-action="Index" asp-route-Category="@item.CategoryId"><span class="category">@item.CategoryName</span></a>
                    <br />
                    <span class="categoryCount">@item.RecipeCount Recipes, @item.SubCatCount SubCategories </span>
                    <br />
                    <br />
                }
            </div>
        </div>
    </div>
</div>
<div class="marTop2pr"></div>
<partial name="_SubscribePartial" />

