@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row defaultHeader">
    <div class="overlay">
        <div class="container">
            <div class="recipeTitle">
                Privacy Policy
            </div>
        </div>
    </div>
</div>
<div class="marTop2pr"></div>
