<div class="row subscription">
    <div class="container">
        <div class="searchBox">
            <span class="searchBoxTitle">Subscribe to our Newsletter</span>
            <br />
            <span style="font-size: larger;">Stay updated withe latest updates...  </span>
            <br />
            <br />
            <div class="searchInput">
                <input type="text" id="subscribe" style="      background: transparent;
        border: 1px solid;
        color: white;
        overflow: hidden;
        border-radius: 1.5em;
        width: 99%;
        min-width: 260px;
    " placeholder="Please Enter Your Email..." />
            </div>
        </div>
    </div>
</div>